<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChatSharp" version="1.0.0" targetFramework="net45" />
  <package id="ManoSoftware.mmOAuth.Core" version="1.0.0.1" targetFramework="net45" />
  <package id="ManoSoftware.mmOAuth.Twitch" version="1.0.0.3" targetFramework="net45" />
  <package id="ManoSoftware.mmOAuth.TwitchAlerts" version="1.0.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>